node_modules/
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/google-services.json
android/app/release.keystore
*.keystore
*.jks
.DS_Store
---
.jdk17/
.keystore_sifreleri_GIZLI.txt
build_ciktilari/
